.login_button{
 padding-right: 10px;
 background-color: black;
 
}
.dash_bard_left{
    height:100%;
    background-color:rgb(76, 142, 228);
    position:absolute;
}
.admin_login{
    margin:auto;
    width:fit-content;
    border: 3px solid rgb(70, 180, 231);
    border-radius: 1rem;
    padding: 10px;
  }
 
  .desc_admin{
    margin-left: 15rem;
    background-color: aqua;
  }
  .header_right{
   margin-left: 20rem;
  }